#User Testing Report

Overall I found the user testing extremely useful and found out a number of things about my current designs. I user tested 4 people who all analysed the current designs for my social networks onboarding process looking at both the mobile and desktops versions. Firstly everyone agreed in saying that my desktop landing page was very cool and portrayed a gaming related social network extremely well. In saying this, although they liked the desktop version, they thought the mobile version was a lot more user friendly for signing up and entering details. I also found out that people would actually like to see the Xbox green that I was straying away from incorporated in the social network.

****Suggestions and possible action items****

- Incorporate more green
- Stay consistent with colours
- Possibly swap username and email so that users enter their email first
- Include even more gaming related images
- Make some text slightly bigger or bolder
- Make the register button stand out more
- Enter gamertag 'or' enter games you like so users don't have to fill in both
- Include other social networks
- Emphasise uploading media
- Try to hide password

